*, *:before, *:after {
    box-sizing: border-box;
  }
  
  h1, p {
    margin: 0 0 1em 0;
  }
  
  .wrapper {
    max-width: 1300px;
    margin: 0 10px;
    display: grid;
    grid-gap: 10px;
  }
  
  @media screen and (min-width: 500px) {
  
    .content {
      float: right;
      width: 79.7872%;
    }
  
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 1fr 3fr;
    }
    
    .header {
      grid-column: 1 / -1;
      clear: both;
    }
  
  }
  
  .wrapper > * {
    background-color: rgb(224, 224, 210);
    color: rgb(7, 7, 7);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    margin-bottom: 10px;
  }
  
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }